.container {
  display: flex;
  justify-content: center; /* Centers the card horizontally */
  align-items: center; /* Centers the card vertically */
  height: 100%; /* Ensure it takes up the full screen height */
}

.card {
  padding-top: 20px;
  height: 500px;
  width: 800px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: antiquewhite;
}
